<div class="example-button-row">
  <button
    mat-raised-button
    (click)="login()"
    *ngIf="!loginService.loggedIn"
    color="primary"
  >
    Bearbeiten
  </button>
  <button mat-raised-button (click)="toggleDate()" color="basic">
    <span *ngIf="!showOldDates">Alle Spiele</span>
    <span *ngIf="showOldDates">Neue Spiele</span>
  </button>
  <button
    mat-raised-button
    (click)="isMobileScreen = !isMobileScreen; setGui(isMobileScreen)"
    color="basic"
  >
    <span *ngIf="!isMobileScreen">Mobile Ansicht</span>
    <span *ngIf="isMobileScreen">Desktopmodus</span>
  </button>
  <button
    mat-stroked-button
    (click)="logout()"
    *ngIf="loginService.loggedIn"
    color="primary"
  >
    Ausloggen
  </button>
  <button
    mat-stroked-button
    (click)="upload()"
    *ngIf="loginService.loggedIn && adminBtn"
    color="primary"
  >
    Upload
  </button>
  <button
    mat-mini-fab
    color="primary"
    (click)="newGame()"
    *ngIf="loginService.loggedIn && adminBtn"
    class="addbtn"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="filter">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Suche - Datum mit 2020-10-24 Format"
      #input
    />
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="datum">
    <th mat-header-cell *matHeaderCellDef>Datum</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{ mobileDate: isMobileScreen }"
    >
      <span *ngIf="!element.weekEndRow && !isMobileScreen">
        {{ element.date | dateTimeToFormat: "ccc, d. MMMM yyyy - HH:mm" }} Uhr
      </span>
      <span *ngIf="!element.weekEndRow && isMobileScreen">
        {{ element.date | dateTimeToFormat: "dd.MM. - HH:mm" }}
      </span>
      <span *ngIf="element.weekEndRow">
        {{ element.weekEndText }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="mannschaft">
    <th mat-header-cell *matHeaderCellDef>Mannschaft</th>
    <td mat-cell *matCellDef="let element">
      <div class="infoText" *ngIf="!element.weekEndRow && !isMobileScreen">
        {{ element.mannschaft }}
      </div>
      <div class="infoText" *ngIf="!element.weekEndRow && isMobileScreen">
        {{ element.mannschaftShort }}
      </div>
      <div *ngIf="!element.weekEndRow && isMobileScreen">
        <mat-icon
          aria-hidden="false"
          aria-label="info Icon"
          class="infoIcon"
          (click)="showInfo(element)"
          >info</mat-icon
        >
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="heim">
    <th mat-header-cell *matHeaderCellDef>Heim</th>
    <td mat-cell *matCellDef="let element">{{ element.heim }}</td>
  </ng-container>

  <ng-container matColumnDef="gast">
    <th mat-header-cell *matHeaderCellDef>Gast</th>
    <td mat-cell *matCellDef="let element">{{ element.gast }}</td>
  </ng-container>

  <ng-container matColumnDef="person">
    <th mat-header-cell *matHeaderCellDef>Person</th>
    <td mat-cell *matCellDef="let element">{{ element.person }}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>
      <mat-icon aria-hidden="false" aria-label="Edit Icon">edit</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element" class="editCol">
      <mat-icon
        aria-hidden="false"
        aria-label="Edit Icon"
        (click)="edit(element)"
        *ngIf="!element.weekEndRow"
        >edit</mat-icon
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
      <mat-icon aria-hidden="false" aria-label="delete Icon">delete</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element" class="editCol">
      <mat-icon
        aria-hidden="false"
        aria-label="delete Icon"
        (click)="delete(element)"
        *ngIf="!element.weekEndRow"
        >delete</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{ weekRow: row.weekEndRow }"
  ></tr>
</table>
