<h2 mat-dialog-title>Spieltag bearbeiten</h2>
<mat-dialog-content class="mat-typography">
  <div>
    Spiel: {{ spieltag.mannschaft }} - {{ spieltag.heim }} : {{ spieltag.gast }}
  </div>
  <div class="login">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Datum</mat-label>
        <input
          matInput
          type="datetime-local"
          placeholder="Datum"
          [ngModel]="spieltag.date | date: 'yyyy-MM-ddTHH:mm'"
          (ngModelChange)="spieltag.datum = $event"
          name="datum"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Person</mat-label>
        <input
          matInput
          placeholder="Person"
          [(ngModel)]="spieltag.person"
          name="person"
        />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button [mat-dialog-close]="spieltag" cdkFocusInitial>
    Speichern
  </button>
</mat-dialog-actions>
