<div class="login">
  <div class="info">Bitte Benutzername und Passwort eingeben</div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name eingeben</mat-label>
      <input
        matInput
        placeholder="Dein name"
        value=""
        [(ngModel)]="name"
        name="name"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput value="" type="password" [(ngModel)]="pw" name="pw" />
    </mat-form-field>
  </form>
  <div>
    <button mat-fab color="primary" [disabled]="checkName()" (click)="login()">
      Starten
    </button>
  </div>
</div>
